* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
    background: black;
    color: lime;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#browser-header {
    border-bottom: 2px solid lime;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.nav-controls {
    display: flex;
    gap: 10px;
    margin: 5px 0 5px 10px;
    flex-shrink: 0;
}

.nav-controls button {
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

.nav-controls button:hover {
    background: lime;
}

.nav-controls svg {
    width: 20px;
    height: 20px;
    fill: lime;
    transition: background 0.2s;
}

.nav-controls svg:hover {
    fill: black;
}

#sj-form {
    flex: 1;
    display: flex;
}

.search-container {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
}

select, ::picker(select) {
	appearance: base-select;
}

select {
	font-family: "Courier New", monospace;
	margin: 0;
	background: black;
	color: lime;
	border: none;
	outline: none;
}

select:hover {
    background: lime;
    color: black;
}

option {
	background: black;
    color: lime;
}

option:hover {
	background: lime;
	color: black;
}

.address-bar-wrapper {
    flex: 1;
}

#sj-address {
    width: 100%;
    background: black;
    border: none;
    border-left: 2px solid lime;
    font-size: 16px;
    padding: 10px 15px;
    color: lime;
    font-family: "Courier New", monospace;
    outline: none;
}

#sj-address::placeholder {
	color: lime;
}

#content-area {
    flex-grow: 1;
    position: relative;
}

#landing-view {
    height: 100%;
    padding: 10px;
}

a {
	color: lime;
}

#frame-container {
    display: none;
    height: 100%;
    width: 100%;
    background: white;
}

#sj-frame {
    width: 100%;
    height: 100%;
    border: none;
}

body.is-active #landing-view { display: none; }
body.is-active #frame-container { display: block; }
